
body {
	background-color: beige;
	margin: 0px;
	padding: 0px;
}

.events {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    align-items: center;
	margin: 0 auto;
}

.event {
    font-family: 'Source Sans Pro', Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 12px;
	color: #e2231b;
    flex: 1;
    text-align: center;
}

.events-header{
	font-size: 18px;
	letter-spacing: 2px;
	text-align: center;
	font-weight: normal;
	font-family: 'Source Sans Pro',Arial,Helvetica Neue,Helvetica,sans-serif;
	margin-top: 20px;
}

.bars{
	width: 70%;
	border-top: 1px solid red;
}

.main-pic {
	background-color: black;
}

.main-img {
	display: block;
	padding: 0;
	margin-right: 15%;
	margin-left: 15%;
	object-fit: fill;
	width: 70%;
	aspect-ratio: 3 / 1;
}

.main-nav-link {
	padding: 15px;
	margin: 0px;
	font-size: calc(12px + 0.1vw);
	font-family: 'Source Sans Pro',Arial,Helvetica Neue,Helvetica,sans-serif;
}

.main-nav-link-rightmost {
	padding: 15px;
	padding-left: 0px;
	margin: 0px;
	font-size: calc(12px + 0.1vw);
	font-family: 'Source Sans Pro',Arial,Helvetica Neue,Helvetica,sans-serif;
}

.nav-bar {
	background-color: #424242;
	padding-bottom: 6px;
	padding-top: 6px;
	color: white;
	padding-left: 3.5%;
}

.top-nav-bar {
	background-color: #900;
	display:flex;
	color: white;
	padding-bottom: 3px;
	padding-top: 3px;
	padding-left: 3.5%;
}

.separators {
	padding: 0;
	padding-right: 3px;
	padding-left: 3px;
	margin: 0px;
}

.top-link {
	color: white;
	font-size: calc(10px + 0.1vw);
	font-family: 'Source Sans Pro',Arial,Helvetica Neue,Helvetica,sans-serif;
	padding: 0px;
	padding-top: 3px;
	margin: 0px;
}

.header {
	background-color: #e2231b;
	display: flex;
	align-items: center;
	color:white;
	font-family: 'Source Sans Pro',Arial,Helvetica Neue,Helvetica,sans-serif;
	font-size: calc(0.3em + 0.7vw);
	letter-spacing: normal;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 3.5%;
	padding-right: 0px;
}

.header-text {
	flex: 1;
	padding-left: 0px;
	padding-right:5px;
}

.header-rpi-logo {
	flex: 1;
	padding-right: 20px;
}