{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Advisory Council MANE RPI</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <script src = "{% static 'home/script.js'%}"></script>
    <link rel="icon" href="{% static 'home/favicon.ico' %}" type="image/x-icon">
  </head>
  <body>
        <div id = "container">
            <main>
            <div class = "top-nav-bar">
                <a class = "top-link" href = "https://mane.rpi.edu/">Mechanical, Aerospace, and Nuclear Engineering</a>
                <p class = "separators"><strong>-</strong></p>
                <a class = "top-link" href = "https://eng.rpi.edu/">School of Engineering</a>
                <p class = "separators"><strong>-</strong></p>
                <a class = "top-link" href = "https://mane.rpi.edu/">Rensselaer Polytechnic Institute</a>
            </div>
            
            <div class = "header">
                <div>
                    <h2 class = "header-text">
                        Student Advisory Council for the Mechanical, Aeronautical and Nuclear Engineering Department at Rensselaer Polytechnic Institute
                    </h2> 
                </div>
                <div>
                    <img class = "header-rpi-logo" src="{% static 'home/rpi_logo.png' %}">
                </div>
            </div>

            <div class = "nav-bar">
                <div>
                    <a href="{% url 'home' %}">Home</a>
                </div>
                <div>
                    <a href="{% url 'about' %}">About</a>
                </div>
                <div>
                    <a href="{% url 'contact'%}">Contact Us</a>
                </div>
                <div>
                    <a href="{% url 'members' %}">Members</a>
                </div>
                <div class = "current-tab">
                    <a>FAQ</a>
                </div>
                <div>
                    <a href="{% url 'forum' %}">Forum</a>
                </div>
            </div>

            <div class = "main-header">
                <h2>Frequently Asked Questions</h3>
            </div>

            <div class = "questions">

                <hr class = "bars">
                <div>
                    <h5>1. What is MANE? </h5>
                    <p>     Home to three highly-ranked engineering programs in the country, The Department of Mechanical, Aerospace and Nuclear Engineering
                        (MANE) is an unparalleled intellectual powerhouse that is uniquely positioned to solve some of the most challenging problems of 
                        our times and lead the nation and the world in groundbreaking research, innovative education, and service of the highest quality 
                        to all its stakeholders.
                            With exponential growth in research, overwhelming student interest and unprecedented recognition of its faculty and
                        students in the national and international arena, this is indeed the most exciting time in the history of MANE.
                       
                       Degrees Offered:
                       Aeronautical Engineering (B.S., M.Eng., M.S., Ph.D.)
                       Engineering Physics (M.S., Ph.D.)
                       Mechanical Engineering (B.S., M.Eng., M.S., Ph.D.)
                       Nuclear Engineering (B.S., M.Eng., MS )
                       Nuclear Engineering and Science (Ph.D.) </p>
                </div>

                <hr class = "bars">
                <div>
                    <h5>
                        2. What is MANE SAC?
                         </h5>
                    <p>The Mechanical, Aeronautical, and Nuclear Engineering Department Student Advisory Council consists of graduate and undergraduate students of Rensselaer Polytechnic Institute dedicated to being the voice of the students. We act as a liaison between the MANE Department Head, Dr. Antoinette Maniatty, and MANE Students at RPI. We host events for students and facilitate a questionnaire at the end of the semester to gauge the academic and mental standing, as well as concerns of the student body, and voice this to professors and faculty.
                    </p>
                </div>
                <hr class = "bars">
                <div>
                    <h5>3. What do I do if I have questions about my undergraduate program?
                    </h5>
                    <p>MANE Undergraduate Student Services is located on the second floor of the Jonsson Engineering Center, in room 2012.
                        Hours: Monday – Friday, 8:00am - 4:30pm
                        You can schedule an appointment with Kate online!
                        
                        
                        Thomas Haley
                        Director of Student Services
                        tomhaley@aol.com

                        Kate Stockton
                        Sr. Student Services Administrator
                        stockk@rpi.edu
                        
                        
                        Julie Schatz
                        Administrative Specialist
                        schatj4@rpi.edu  </p>
                        
                </div>               
                <hr class = "bars">
                <div>
                    <h5>4. 
                        What do I do if I have questions about my graduate program?
                         </h5>
                    <p>MANE Graduate Student Services are located on the 2nd floor of the Jonsson Engineering Center, Room 2002.
                        Contact Beth Ann Macey, Sr. Student Administrator at maceyb2@rpi.edu
                     </p>
                </div>              
                  <hr class = "bars">
                <div>
                    <h5>5. How do i know who my advisor is?
                    </h5>
                    <p>At Rensselaer, you will have a couple of different advisors. This summer, your advising hub representative will reach out to you with information on how to select your first semester classes via your Rensselaer email by June 24th. Later in your Rensselaer journey, you will also have a faculty advisor to work with. To get started, please visit our Advising and Registration page found here.    
                        https://success.studentlife.rpi.edu/new-students/first-year-advising-and-registration 
                         </p>
                </div>               
                 <hr class = "bars">
                <div>
                    <h5>6. What do I do if I have questions, concerns, or voice my opinion about a course or professor?
                    </h5>
                    <p> You can use our form submission, voice your concerns through the mid or end semester reviews, or come to our end-of-semester coffee and questions</p>
                </div>               
                 <hr class = "bars">
                <div>
                    <h5>7. Where can I see MANE events?
                    </h5>
                    <p>At https://mane.rpi.edu/news , you can view events and news pertaining to the MANE Department.  </p>
                </div>               
                 <hr class = "bars">
                <div>
                    <h5>8. How many credits do I need to be a full time student? </h5>
                    <p>Full time status is 12 credits or typically 3 classes. Most first-year students will be registering for 16-17 credits which will align them to graduate in 4 years, or 5 for architecture majors.   </p>
                </div>               
                 <hr class = "bars">
                <div>
                    <h5>9. When is class registration? </h5>
                    <p>Class registration will occur between July 10-16.  Your time ticket is in the Student Information System (SIS) and you will register through SIS. This time ticket tells you what date and time you can register for classes during the advising period.   </p>
                </div>

                {% for question in questions %}

                    <hr class = "bars">
                    <div>
                        <h5>{{ question.question }}</h5>
                        <p>{{ question.answer }}</p>
                        {%if question.img %}
                            <img class = "faq-img" src ="{% static 'home/test_image.jpg' %}">
                        {% endif %}
                    </div>

                {%endfor%}

            </div>

            <div class="links">
                <h4>Click below for the websites to other councils:</h4>
                <br>
                <a href="https://ecse.rpi.edu/people/graduate-student-council" target="_blank">ECSE Graduate Student Council</a>
                <br>
                <a href="https://ecse.rpi.edu/people/advisory-council" target="_blank">ECSE Advisory Council</a>
                <br>
                <a href="https://sites.google.com/view/rpistugov/undergraduate-council" target="_blank">RPI Undergraduate Council</a>
                <br>
                <a href="https://sites.google.com/view/rpistugov/graduate-council?authuser=0" target="_blank">RPI Graduate Council</a>
                <br>
                <a href="https://www.instagram.com/rpicsgradsofficial/" target="_blank">CS Grad Council</a>
            </div>

        </main>
        <footer>
            <hr>
            <p>Student Advisory Council for the Mechanical, Aeronautical and Nuclear Engineering Department at Rensselaer Polytechnic Institute</p>
        </footer>
        </div>

    </body>
</html>