{% load static %}
<html>

    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <title>MANE SAC Forum</title>
        <link rel="stylesheet" href="{% static 'home/style.css' %}">
        <link rel="icon" href="{% static 'home/favicon.ico' %}" type="image/x-icon">
    </head>

    <body>
    <main>
        <div id = "container">
        <div id = "container2">  
        <div class = "top-nav-bar">
            <a class = "top-link" href = "https://mane.rpi.edu/">Mechanical, Aerospace, and Nuclear Engineering</a>
            <p class = "separators"><strong>-</strong></p>
            <a class = "top-link" href = "https://eng.rpi.edu/">School of Engineering</a>
            <p class = "separators"><strong>-</strong></p>
            <a class = "top-link" href = "https://mane.rpi.edu/">Rensselaer Polytechnic Institute</a>
        </div>
        
        <div class = "header">
            <div>
                <h2 class = "header-text">Student Advisory Council for the Mechanical, Aeronautical and Nuclear Engineering Department at Rensselaer Polytechnic Institute</h2> 
            </div>
            <div>
                <img class = "header-rpi-logo" src="{% static 'home/rpi_logo.png' %}">
            </div>
        </div>

        <div class = "nav-bar">
            <div>
                <a href="{% url 'home' %}">Home</a>
            </div>
            <div>
                <a href="{% url 'about' %}">About</a>
            </div>
            <div>
                <a href="{% url 'contact'%}">Contact Us</a>
            </div>
            <div>
                <a href = "{% url 'members' %}">Members</a>
            </div>
            <div>
                <a href="{% url 'faq' %}">FAQ</a>
            </div>
            <div class = "current-tab">
                <a>Forum</a>
            </div>
        </div>

        <div class = "main-header">
            <h3>Forum</h3>
            <p>Make a Post!</p>
            <form class = "make-post">
                <input type = "text" name = "title" placeholder = "Give your post a decriptive title!" class="post-title" style="width: 300px;">
                <br>
                <textarea name = "content" placeholder = "What's your Concern?" class="post-content" style="width: 300px;height: 100px;"></textarea>
                <br>
                <button type = "submit" class="submit-button">Post</button>
            </form>    
        </div>
        <div class = "post_box">
            {% for post in posts %}
                <div class = "post">
                    <h4>{{ post.title }}</h4>
                    <p>{{ post.content }}</p>
                    <p>Posted by: {{ post.author }}</p>
                    <p>Posted on: {{ post.date_posted }}</p>
                </div>
            {% endfor %}
        </div>
        </div>
        <footer>
            <hr>
            <p>Student Advisory Council for the Mechanical, Aeronautical and Nuclear Engineering Department at Rensselaer Polytechnic Institute</p>
        </footer>
        </div>

    </main>
    </body>

</html>