{% load static %}
<html>

    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <title>MANE SAC Forum</title>
        <link rel="stylesheet" href="{% static 'home/style.css' %}">
        <script src = "{% static 'home/script.js' %}"></script>
        <link rel="icon" href="{% static 'home/favicon.ico' %}" type="image/x-icon">
    </head>

    <body>
        <div id = "container"> 
        <main>
        <div class = "top-nav-bar">
            <a class = "top-link" href = "https://mane.rpi.edu/">Mechanical, Aerospace, and Nuclear Engineering</a>
            <p class = "separators"><strong>-</strong></p>
            <a class = "top-link" href = "https://eng.rpi.edu/">School of Engineering</a>
            <p class = "separators"><strong>-</strong></p>
            <a class = "top-link" href = "https://mane.rpi.edu/">Rensselaer Polytechnic Institute</a>
        </div>
        
        <div class = "header">
            <div>
                <h2 class = "header-text">Student Advisory Council for the Mechanical, Aeronautical and Nuclear Engineering Department at Rensselaer Polytechnic Institute</h2> 
            </div>
            <div>
                <img class = "header-rpi-logo" src="{% static 'home/rpi_logo.png' %}">
            </div>
        </div>

        <div class = "nav-bar">
            <div>
                <a href="{% url 'home' %}">Home</a>
            </div>
            <div>
                <a href="{% url 'about' %}">About</a>
            </div>
            <div>
                <a href="{% url 'contact'%}">Contact Us</a>
            </div>
            <div>
                <a href = "{% url 'members' %}">Members</a>
            </div>
            <div>
                <a href="{% url 'faq' %}">FAQ</a>
            </div>
            <div class = "current-tab">
                <a>Forum</a>
            </div>
        </div>

        <!--

        <div class="Under-dev">
            <h2>Under Development</h2>
            <p>Sorry, this page is currently under development. Please check back later!</p>
        </div>

        -->

        <div class = "main-header">
            <h3>Forum</h3>
            <p>Ask a question!</p>
            <form class = "ask-question" action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type = "text" name = "name" placeholder = "Name (optional)" class="post-name" style="width: 300px;">
                <br>
                <input type = "text" name = "title" placeholder = "What's your concern?" class="post-title" style="width: 300px;">
                <br>
                <textarea name = "content" placeholder = "Give us a few more details about your concern!" class="post-content" style="width: 300px;height: 100px;"></textarea>
                <br>
                <label for=""img>Upload an Image (optional):</label>
                <input type = "file" name = "img" class="post-img">
                <br>
                <input type = "email" name = "email" placeholder = "Your Email" class="post-email" style="width: 300px;">
                <br>
                <input type = "major" name = "major" placeholder = "Major (optional)" class="post-major" style="width: 300px;">
                <br>
                <input type = "year" name = "year" placeholder = "Year (optional)" class="post-year" style="width: 300px;">
                <button type = "submit" class="submit-button">Post</button>
            </form>    
        </div>

        </main>

        <footer>
            <hr>
            <p>Student Advisory Council for the Mechanical, Aeronautical and Nuclear Engineering Department at Rensselaer Polytechnic Institute</p>
        </footer>
        </div>

    </main>
    </body>

</html>