{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Advisory Council MANE RPI</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
	<script src = "{% static 'home/script.js' %}"></script>
    <link rel="icon" href="{% static 'home/favicon.ico' %}" type="image/x-icon">
  </head>
  <body>
    <main>
		
		<div class = "top-nav-bar">
			<a class = "top-link" href = "https://mane.rpi.edu/">Mechanical, Aerospace, and Nuclear Engineering</a>
			<p class = "separators"><strong>-</strong></p>
			<a class = "top-link" href = "https://eng.rpi.edu/">School of Engineering</a>
			<p class = "separators"><strong>-</strong></p>
			<a class = "top-link" href = "https://mane.rpi.edu/">Rensselaer Polytechnic Institute</a>
		</div>
		
		<div class = "header">
			<div>
				<h2 class = "header-text">
					Student Advisory Council for the Mechanical, Aeronautical and Nuclear Engineering Department at Rensselaer Polytechnic Institute
				</h2> 
			</div>
			<div>
				<img class = "header-rpi-logo" src="{% static 'home/rpi_logo.png' %}">
			</div>
		</div>

		<div class = "nav-bar">
			<div class = "current-tab">
				<a>Home</a>
			</div>
			<div>
				<a href="{% url 'about' %}">About</a>
			</div>
			<div>
				<a href="{% url 'contact'%}">Contact Us</a>
			</div>
			<div>
				<a href="{% url 'members' %}">Members</a>
			</div>
			<div>
				<a href="{% url 'faq' %}">FAQ</a>
			</div>
			<div>
				<a href="{% url 'forum' %}">Forum</a>
			</div>
		</div>
		
		<div class = "main-pic">
			<img class = "main-img" src ="{% static 'home/test_image.jpg' %}">
		</div>
		
		<div class = "events-header">
			<hr class = "bars">
			<h3>Events!</h3>
			<hr class = "bars">
		</div>
		
		<div class = "events">

			{% for event in events %}
				
				{% if event.img %}

				<div class = "event">
					<img src = "{{ event.img.url }}">
					<div class = "event-text">
						<h4>{{ event.title }}</h4>
						<p>{{ event.text }}</p>
						{% if event.location %}
							<p>Location: {{ event.location }}</p>
						{% endif %}
						{% if event.date_time %}
							<p>Date and Time: {{ event.date_time }}</p>
						{% endif %}
						{% if event.urls %}
							<a href = "{{ event.urls }}">Click here for more!</a>
						{% endif %}
					</div>
				</div>

					{% if not forloop.last %}
						<hr class = "bars">
					{% endif %}

				{% else %}

					<div class = "event">
						<div class = "event-text">
							<h4>{{ event.title }}</h4>
							<p>{{ event.text }}</p>
							{% if event.location %}
								<p>Location: {{ event.location }}</p>
							{% endif %}
							{% if event.date_time %}
								<p>Date and Time: {{ event.date_time }}</p>
							{% endif %}
							{% if event.urls %}
								<a href = "{{ event.urls }}">Click here for more!</a>
							{% endif %}
						</div>
					</div>

					{% if not forloop.last %}
						<hr class = "bars">
					{% endif %}

				{% endif %}

			{% endfor %}
		</div>

		<div class="footer">
			<hr>
			<p>Student Advisory Council for the Mechanical, Aeronautical and Nuclear Engineering Department at Rensselaer Polytechnic Institute</p>
		</div>
		
    </main>
  </body>
</html>