{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Advisory Council MANE RPI</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <script src = "{% static 'home/script.js' %}"></script>
    <link rel="icon" href="{% static 'home/favicon.ico' %}" type="image/x-icon">
  </head>
    <body>
        <main>
        <div id = "container">
        <div id = "container2">    
            <div class = "top-nav-bar">
                <a class = "top-link" href = "https://mane.rpi.edu/">Mechanical, Aerospace, and Nuclear Engineering</a>
                <p class = "separators"><strong>-</strong></p>
                <a class = "top-link" href = "https://eng.rpi.edu/">School of Engineering</a>
                <p class = "separators"><strong>-</strong></p>
                <a class = "top-link" href = "https://mane.rpi.edu/">Rensselaer Polytechnic Institute</a>
            </div>
            
            <div class = "header">
                <div>
                    <h2 class = "header-text">Student Advisory Council for the Mechanical, Aeronautical and Nuclear Engineering Department at Rensselaer Polytechnic Institute</h2> 
                </div>
                <div>
                    <img class = "header-rpi-logo" src="{% static 'home/rpi_logo.png' %}">
                </div>
            </div>

            <div class = "nav-bar">
                <div>
                    <a href="{% url 'home' %}">Home</a>
                </div>
                <div>
                    <a href="{% url 'about' %}">About</a>
                </div>
                <div>
                    <a href="{% url 'contact'%}">Contact Us</a>
                </div>
                <div class = "current-tab">
                    <a>Members</a>
                </div>
                <div>
                    <a href="{% url 'faq' %}">FAQ</a>
                </div>
                <div>
                    <a href="{% url 'forum' %}">Forum</a>
                </div>
            </div>

            <div class = "main-header">
                <h3>Our Members</h3>
            </div>

            <div class = "list-of-members">
                <hr class = "bars">
                <div class = "member">
                    <img class = "member-pic" src="">
                    <div class = "member-text">
                        <h4 class = "member-name">Kaylee Aya-AY</h4>
                        <h5 class = "member-desc">Junior</h5>
                        <h5 class = "member-major">Aerospace and Mechanical Engineering</h5>
                        <p class = "member-desc">I am a junior dualing in aerospace and mechanical engineering with a minor in media and culture. I mostly work on the flyers and monitor social media for MANE SAC. I'm also the Alumni Relations Director of SWE, a mentor for the Women Mentoring Program, and social media manager for the Union Clubhouse Pub.
                        </p>
                        <a class = "member-desc" href="https://www.linkedin.com/in/kaylee-aya-ay" target=”_blank”>LinkedIn</a>
                    </div>
                </div>
            </div>

            <div class = "list-of-members">
                <hr class = "bars">
                <div class = "member">
                    <img class = "member-pic" src="">
                    <div class = "member-text">
                        <h4 class = "member-name">Camden Blake - President</h4>
                        <h5 class = "member-desc">5th year PhD student and BS in Nuclear Engineering
                        </h5>
                        <h5 class = "member-major">Nuclear Engineering</h5>
                        <p class = "member-desc">5th year PhD student and BS in Nuclear Engineering from RPI
                            Yes, this is my 9th year here at RPI, I have been here longer than several professors.  My advisor is Dr. Wei Ji and my research is on a fast and efficient method for storing large quantities of thermal neutron scatter data.  The main thrust of my research is to create a on the fly in temperature data storage technique that allows for sampling thermal scattering data at arbitrary temperatures in Monte Carlo applications.
                            
                        </p>
                        <a class = "member-desc" href="https://www.linkedin.com/in/camden-blake-827496171/" target=”_blank”>LinkedIn</a>
                    </div>
                </div>
            </div>

            <div class = "list-of-members">
                <hr class = "bars">
                <div class = "member">
                    <img class = "member-pic" src="">
                    <div class = "member-text">
                        <h4 class = "member-name">Benjamin Chaput</h4>
                        <h5 class = "member-desc">Junior</h5>
                        <h5 class = "member-major">Aerospace and Mechanical Engineering</h5>
                        <p class = "member-desc">I am a dual aerospace and mechanical engineering junior with a minor in philosophy. I have extensive engineering project management experience and participate in research to develop high fidelity CFD solvers for hypersonic applications. I am the current president of the Rensselaer Spaceflight Society.
                        </p>
                        <a class = "member-desc" href="https://www.linkedin.com/in/benchaput" target=”_blank”>LinkedIn</a>
                    </div>
                </div>
            </div>

            <div class = "list-of-members">
                <hr class = "bars">
                <div class = "member">
                    <img class = "member-pic" src="">
                    <div class = "member-text">
                        <h4 class = "member-name">Liam Coll - Secretary</h4>
                        <h5 class = "member-desc">Mechanical Engineering</h5>
                        <h5 class = "member-major"></h5>
                        <p class = "member-desc">I am a second-semester junior studying mechanical engineering here at RPI. I am currently the secretary and website manager of the MANE Student Advisory Council. I am part of the Undergraduate Research Program, working with a startup to develop a new design for a wind turbine that utilizes an active deflector through CFD and physical testing. I am also on the E Board for Circle K, which is RPI’s volunteering club, and the STEM lead and founder of the RPI chapter of the Onero Institute, a youth-driven think tank focusing on international affairs. I am a vegetarian, a coffee addict, and a huge Star Wars fan.
                        </p>
                        <a class = "member-desc" href="https://www.linkedin.com/in/liam-coll-/" target=”_blank”>LinkedIn</a>
                    </div>
                </div>
            </div>

            <div class = "list-of-members">
                <hr class = "bars">
                <div class = "member">
                    <img class = "member-pic" src="">
                    <div class = "member-text">
                        <h4 class = "member-name">Liam Hutchison</h4>
                        <h5 class = "member-desc">Junior</h5>
                        <h5 class = "member-major">Mechanical Engineering</h5>
                        <p class = "member-desc">I am from Hawaii and I enjoy reading and playing tennis

                        </p>
                        <a class = "member-desc" href="https://www.linkedin.com/in/liam-hutchison27/" target=”_blank”>LinkedIn</a>
                    </div>
                </div>
            </div>



            <div class = "list-of-members">
                <hr class = "bars">
                <div class = "member">
                    <img class = "member-pic" src="">
                    <div class = "member-text">
                        <h4 class = "member-name">Kairvi Lodhiya</h4>
                        <h5 class = "member-desc">2nd Year PHD</h5>
                        <h5 class = "member-major"Aeronautical Engineering></h5>
                        <p class = "member-desc">I am in my 2nd year PhD. I am working with Dr. Diana Andra Borca Tascuic. My research is about energy transfer in electro-mechanical coupled oscillator. The application of this system is in Energy Harvesters.
                        </p>
                        <a class = "member-desc" href="https://www.linkedin.com/in/kairvi-lodhiya" target=”_blank”>LinkedIn</a>
                    </div>
                </div>
            </div>


            
            <div class = "list-of-members">
                <hr class = "bars">
                <div class = "member">
                    <img class = "member-pic" src="">
                    <div class = "member-text">
                        <h4 class = "member-name">Rene Mai</h4>
                        <h5 class = "member-desc">4th Year PHD Student</h5>
                        <h5 class = "member-major">Mechanical Engineering</h5>
                        <p class = "member-desc">I am a fourth-year mechanical engineering PhD student at Rensselaer Polytechnic Institute in Troy, NY. My research focuses on controls for shared autonomous systems. Fundamentally, the question that drives my research is how humans can build our technology and devices so that we achieve peak performance together. I integrate engineering and cognitive science perspectives in my approach to symbiotic human-machine autonomy (also called shared autonomy). My focus is modeling human-autonomy interaction in complex systems such as robotics and transportation as a dynamical system, rather than from a social or data-driven perspective.

                        </p>
                        <a class = "member-desc" href="https://www.linkedin.com/in/reneemai/" target=”_blank”>LinkedIn</a>
                    </div>
                </div>
            </div>


            <div class = "list-of-members">
                <hr class = "bars">
                <div class = "member">
                    <img class = "member-pic" src="">
                    <div class = "member-text">
                        <h4 class = "member-name">Melvina Quartey</h4>
                        <h5 class = "member-desc">2nd Year PHD Studnet</h5>
                        <h5 class = "member-major">Aeronautical Engineering</h5>
                        <p class = "member-desc">I am a second year Aeronautical Engineering PhD student at the RPI MANE department. Currently a member of Prof. Lucy Zhang's Computational Mechanics Lab, my research focuses on using quantum computers to simulate fluid flows. I am studying the development of quantum algorithms towards the potential improvement of speed and memory use in computational fluid dynamics.

                        </p>
                        <a class = "member-desc" href="https://www.linkedin.com/in/melvinaquartey/
" target=”_blank”>LinkedIn</a>
                    </div>
                </div>
            </div>

            <div class = "list-of-members">
                <hr class = "bars">
                <div class = "member">
                    <img class = "member-pic" src="">
                    <div class = "member-text">
                        <h4 class = "member-name">Thea Steinbach</h4>
                        <h5 class = "member-desc">Last Semester Undergraduate</h5>
                        <h5 class = "member-major">Mechanical Engineering</h5>
                        <p class = "member-desc"> I am a senior at RPI studying mechanical engineering.
                        </p>
                        <a class = "member-desc" href="https://www.linkedin.com/in/theasteinbach/" target=”_blank”>LinkedIn</a>
                    </div>
                </div>
            </div>

            <div class = "list-of-members">
                <hr class = "bars">
                <div class = "member">
                    <img class = "member-pic" src="">
                    <div class = "member-text">
                        <h4 class = "member-name">Luke Watson</h4>
                        <h5 class = "member-desc">Junior</h5>
                        <h5 class = "member-major">Nuclear and Mechanical Engineering</h5>
                        <p class = "member-desc"> Hi, I'm Luke! Aside from being in SAC, I do hot target research with Prof. Fritz and play trombone in approximately a million groups in the RMA. I also have a dog named Abby :)

                        </p>
                        <a class = "member-desc" href="https://www.linkedin.com/in/luke-watson261/" target=”_blank”>LinkedIn</a>
                    </div>
                </div>
            </div>

            <div class = "list-of-members">
                <hr class = "bars">
                <div class = "member">
                    <img class = "member-pic" src="">
                    <div class = "member-text">
                        <h4 class = "member-name">Grace Yu</h4>
                        <h5 class = "member-desc">Aeronautical and Mechanical Engineering
                        </h5>
                        <h5 class = "member-major">Sophmore</h5>
                        <p class = "member-desc">I am a sophomore dual-majoring in aeronautical and mechanical engineering. I also work with Prof. Mishra and Prof. Samuel on various research projects, designing and implementing various apparatuses and hardware components. I spend most of my free-time building a EV car as a part of Rensselaer Motorsport, RPI's FSAE team.

                        </p>
                        <a class = "member-desc" href="https://www.linkedin.com/in/grace-yu-00997a270/" target=”_blank”>LinkedIn</a>
                    </div>
                </div>
            </div>





            <div class = "list-of-members">
                {% for member in members %}
                <hr class = "bars">
                <div class = "member">
                    {% if member.img %}
                        <img class = "member-pic" src="{{member.img.url}}">
                    {% endif %}
                    <div class = "member-text">
                        <h4 class = "member-name">{{member.name}}</h4>
                        <h5 class = "member-desc">{{member.year}}</h5>
                        <h5 class = "member-major">{{member.major}}</h5>
                        <p class = "member-desc">{{member.description}}</p>
                        {% if member.linkedin %}
                            <a class = "member-desc" href="{{member.linkedin}}" target=”_blank”>LinkedIn</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
        <footer>
            <hr>
            <p>Student Advisory Council for the Mechanical, Aeronautical and Nuclear Engineering Department at Rensselaer Polytechnic Institute</p>
        </footer>
        </div>

        </main>
    </body>
</html>